@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";


@tailwind utilities;

@theme {
  --breakpoint-xs: 321px;
  --font-inter: "Inter", ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, sans-serif;

  --font-sans: var(--font-inter);

  --color-greedy: #007355;
  --color-greedy-secondary : #009b6f;

  --color-sejong : #b2272b;
}

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  src: url("/fonts/PretendardVariable.woff2") format("woff2-variations");
  font-display: swap;
}


*/
html, body, #root {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: var(--font-inter);
}

